.page {
  width: 100%;
  max-width: 60rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 37.5rem) {
  .page {
    padding: 3rem 1.25rem;
    gap: 1rem;
  }
}
